.navbar a
{
color: #000 !important;
font-size: 1rem;
text-transform: uppercase;
font-weight:400;
margin: 1rem 1rem 0 1rem;
}
.carousel-caption
{
top: 10%!important;
right: 0!important;
left: 8%!important;

} 


/* .btn:hover
{
background-color: #fff;
color: #000;
}
.list-group li
{
    border: none!important;
    background-color: blue;
} */


.filterDi{
 
    display: flex;
    flex-wrap: wrap;
   
   }  
       .filterDiv {
     
   
     margin: 1rem;
     display: none;
   }
   #myBtnContainer
   {
       display: flex;
       flex-direction: column;
       background-color: #fff!important;
       border: #666 1px solid;
       
   }
   .card-body li
           {
          
               border: none;
              
   }
   .card-title
   {
       font-weight:normal!important;
   }
   .show {
     display: block;
   }
       .accordion-body
       {
           padding: 0;
       }
       .list-group
           {
          
               margin: 0;
               border: rgb(172, 172, 172) ;
           }
           
   
   #myBtnContainer .btn {
     border: none;
     outline: none;
     padding: 12px 20px;
     background-color: #fff!important;
     cursor: pointer;
     text-transform: uppercase;
     text-align: start;
   }
   
   #myBtnContainer .btn:hover {
     border: none;
     outline: none;
     padding: 12px 20px;
     background-color: rgb(235, 233, 233)!important;
     cursor: pointer;
     text-transform: uppercase;
     text-align: start;
     box-shadow:none!important;
   }
   .accordion-button
   {
   border: rgb(151, 149, 149) solid 1px;
   box-shadow:none!important;
   }
   .accordion-button:not(.collapsed) {
    color: #666!important;
      background-color: #fff!important;
      box-shadow:none!important;
      border: rgb(151, 149, 149) solid 1px;
  }
   #myBtnContainer .btn.active {
     background-color: #666;
     box-shadow:none!important;
     
   }
   .hov:hover + .hide-icons
   {
     
    display: block;
   
   }
   
   .hide-icons
   {
   
     position: absolute;
    right: 5px;
     top: 0px;
     z-index: 1;
     cursor: pointer;
     display: flex;
     flex-direction: column;
  
   
   }
  
 .bicon{
  margin-top: 20px;
  border-radius: 50%;
  width: 35px!important;
  height: 35px!important;
  padding: 6px 10px 13px 10px;
  color: rgb(43, 42, 42);
  text-align: center;
  background-color: #fff;
   }
 
   .cmodal {
   display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .cmodal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .cclose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .cclose:hover,
  .cclose:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
 

  .acmodal {
    display: none;
     position: absolute; /* Stay in place */
     z-index: 1; /* Sit on top */
     padding-top: 10px; /* Location of the box */
     right:0;
     top: 0;
     width: 400px;
 
   }
   .list-group-item+.list-group-item 
   {
     border-top-width: 1px!important;
 }
   
   /* Modal Content */
   .acmodal-content {
     background-color: #fefefe;
     right:0;
     padding: 20px;
     border: 1px solid #888;
     
 
   }
   
   /* The Close Button */
   .acclose {
     color: #aaaaaa;
     float: right;
     font-size: 28px;
     font-weight: bold;
   }
   
   .acclose:hover,
   .acclose:focus {
     color: #000;
     text-decoration: none;
     cursor: pointer;
   }
  
